<section>
    <div class="content lead-content">
        <div class="inner hidden-lr">
            <h2>Business operations coaching and consulting</h2>
            <p>Blackwood Operations' experienced consultants solve complex business problems for companies of all sizes,
                providing tailored solutions and proven results. Their diverse experience, from Ford's process
                improvements to HotDocs' cloud transformation, exemplifies their ability to drive successful outcomes.
            </p>
        </div>
    </div>
</section>

<div class="banner">
    <img src="/assets/images/business-operations-landscape.jpg">
</div>

<section>
    <div class="content main-content">
        <div class="inner hidden-lr">
            <p>
                Sometimes it's hard to know what the answer is. Our consultants have worked with a range of businesses from startups to Fortune 500 companies. 
                We don't just figure out what the problem is, we help identify and implement the solution.
                Blackwood Operations has seasoned leaders with flagship experience.
                
                <br><br>
                A project with Ford Motor Company in Europe drove improvements in their Sales and Marketing processes, aligning with a full array of Engineering and Manufacturing projects, from wing mirror replacement to new vehicle development. The project culminated with approval from senior leadership in Ford of Europe and our client led the newly formed department.
                
                <br><br>
                HotDocs technology company endeavored to convert a legacy software application to a cloud-based solution - redeveloped functionality, new website, new branding, new customer service structure, and multi-tiered considerations for both B2B and B2C customers. They were live and tradeshow ready less than a year after we engaged.
            </p>
        </div>
    </div>
</section>