.wrapper {
    background: #523c85;

    >.inner {
        padding: 5em 5em 3em 5em;
        max-width: 100%;
        margin: 0 auto;


        h3,
        h1 {
            color: #fff;
            position: relative;
            margin: 0 0 1.3em 0;
            position: relative;
            padding-bottom: 0.35em;
            font-weight: bold;
            line-height: 1.5;
        }

        h1::after {

            background-image: -moz-linear-gradient(to right, #5e42a6, #b74e91);
            background-image: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
            background-image: -ms-linear-gradient(to right, #5e42a6, #b74e91);
            background-image: linear-gradient(to right, #5e42a6, #b74e91);
            -moz-transition: max-width 0.2s ease;
            -webkit-transition: max-width 0.2s ease;
            -ms-transition: max-width 0.2s ease;
            transition: max-width 0.2s ease;
            border-radius: 0.2em;
            bottom: 0;
            content: '';
            height: 0.1em;
            position: absolute;
            right: 0;
            width: 100%;
        }

        ul.horizontal {
            list-style: disc;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            padding: 0;
            align-items: flex-start;
            justify-content: center;

            li {
                font-weight: 300;
                &:first-child {
                    list-style: none;
                }
            }
        }

        .image {
            border-radius: 0.25em;
            border: 0;
            display: inline-block;
            position: relative;

            &.fit {
                display: block;
                margin: 0 0 2em 0;
                width: 100%;

                img {
                    width: 30vw;
                    margin: auto;
                    border-radius: 0.35em;
                    display: block;
                }
            }
        }
    }
}

.programs {
    display: grid;

    &.programs--adhoc {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &.programs--subscription {
        grid-template-columns: 1fr 1fr;
    }

    .program {
        border: 1px solid #6f697d;
        border-right: none;
        padding: 3rem;
        background: #523c85;

        &:first-child {
            border-top-left-radius: 0.35rem;
            border-bottom-left-radius: 0.35rem;
        }

        &:last-child {
            border-bottom-right-radius: 0.35rem;
            border-top-right-radius: 0.35rem;
            border-right: 1px solid #6f697d;
        }

        .heading {
            color: #fff;

            i {
                margin-right: 1rem;
                font-size: 2rem;
                vertical-align: middle;
                color: #9eabdd;

                &.small-scale {
                    transform: scale(0.3);
                    transition: transform 1.5s ease;
                }

                &.large-scale {
                    transform: scale(1);
                }
            }
        }
        p {
            font-size: 1.2rem;
        }
    }
}

section+section {
    background: #584487;
    padding: 2rem 5rem 5rem 5rem;

    h3 {
        color: #fff;
        margin: 1rem 0;
    }
}

@media screen and (max-width: 768px) {
    .main-bkg {
        border-radius: 0;
    }
}