<section id="main" class="wrapper">

    <div class="inner">

        <h1>Tackling operations and solving problems for your business</h1>
        <span class="image fit">
            <img src="/assets/images/BW_Logo.png">
        </span>
        <ul class="horizontal">
            <li>Efficient</li>

            <li>Effective</li>

            <li>Delivered</li>
        </ul>

        <div class="summary">
            <p>Blackwood Ops is a business operations consultancy with deep expertise and a proven track record of
                success.
                The company is founded on a breadth of operational experience in a global environment with companies
                ranging from startups to Fortune 500.
            </p>
            <p>
                Clients sectors encompass <strong>service-based</strong>, <strong>SaaS</strong>,
                <strong>manufacturing</strong>, <strong>financial</strong>, and <strong>retail</strong> organizations.
            </p>
            <p>
                We are passionate about driving business forward through strategic enablement: <span
                    class="highlight-text">evolving
                    challenges to become opportunities.</span>
            </p>
        </div>

    </div>
</section>

<section>
    <h3 href="home#memberships" class="cta">Explore what we have to offer and decide what package would uniquely suit
        your needs</h3>
    <div class="memberships__container" id="memberships">
        <h4>Focused programs</h4>

        <div class="programs programs--adhoc">
            <div class="program program--ff">
                <div class="heading"><i class="fa-solid fa-chart-line small-scale"></i>Financial forecast</div>
                <p>
                    Includes one financial forecast and 4 weekly group sessions.
                </p>
            </div>

            <div class="program program--pdd">
                <div class="heading"><i class="fa-solid fa-file-powerpoint small-scale"></i>Pitch deck development</div>
                <p>
                    Includes one pitch-deck (PPT) and 4 weekly group sessions.
                </p>
            </div>

            <div class="program program--bpv">
                <div class="heading"><i class="fa-solid fa-file-signature small-scale"></i>Business plan development</div>
                <p>Includes one business plan and 4 weekly group sessions.</p>
            </div>
        </div>

        <h4>Specialized programs</h4>

        <div class="programs programs--subscription">
            <div class="program program--q">
                <div class="heading"><i class="fa-solid fa-calendar-day small-scale"></i>Quarterly</div>
                <p>Includes 24 weekly group sessions (can be engaged on a rolling basis - so 12 weeks from whenever
                    you start).</p>
            </div>

            <div class="program program--sup">
                <div class="heading"><i class="fa-solid fa-arrow-up-right-dots small-scale"></i>Start-up package</div>
                <p>Includes business plan, financial forecast, pitch deck, 24 weekly group sessions, and 3 hours of
                    personal coaching sessions.</p>
            </div>
        </div>
    </div>
</section>