<section>
    <div class="content lead-content">
        <div class="inner hidden-lr">
            <h2>Process automation and optimization</h2>
            <p>A law firm drastically cut client intake time from days to minutes with automation, leading to
                record-breaking new client sign-ups. This example shows how businesses can efficiently achieve growth
                through process optimization and automation.</p>
        </div>
    </div>
</section>

<div class="banner">
    <img src="/assets/images/process-automation-landscape.jpg">
</div>

<section>
    <div class="content main-content">
        <div class="inner hidden-lr">
            <p>We recently helped a law firm take their Intake process from 3-4 days to 15 minutes. Now a contract can
                be sent and signed while on the very first call with a client. They just enjoyed their most successful month
                ever of signing new clients.

                <br><br>

                Growing your business can be challenging. The right automation and process optimization means you can drive
                growth in a cost-efficient way.
            </p>
        </div>
    </div>
</section>