.hero-block {
    width: 30vw;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2rem;
        font-weight: 300;
        color: #5296a5;
    }
}

.logo {
    width: 100%;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &.idea-pros {
        background-image: url(/assets/images/idea-pros-logo-white.png);
    }
}

.promo {
    margin: 5rem 5rem;
    text-align: center;
    color: #ccc;
}

.expander {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 10rem;

    .sheet {
        background: #2632389e;
        height: 20rem;
        transform: skewX(350deg);
        border: 1px solid #fff;

        >div {
            transform: skewX(10deg);
            padding: 2rem;
        }
    }
}

.offerings {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: flex-start;

    >div {
        box-sizing: border-box;
        padding: 1.5rem 2rem;
        border-radius: 0.5rem;
        border: 1px solid #FAFAFA;
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-basis: 45%;
        padding-bottom: 0;
        transition: height 0.25s ease-in-out;
        display: grid;
        grid-template-rows: 3rem 1fr 4rem 10rem;

        &.collapsed {
            height: 100%;
        }

        >div.heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            margin-left: -2rem;
            margin-right: -2rem;
            margin-top: -1.5rem;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            padding: 1.3rem;
            cursor: pointer;

            &:hover {
                background: #311b9242;
            }

            h2 {
                margin: 0;
            }
        }

        &.collapsed {
            height: 100%;
        }

        &:nth-child(1) {
            background: linear-gradient(0deg, #00BCD4, transparent);
        }

        &:nth-child(2) {
            background: linear-gradient(0deg, #FF5722, transparent);
        }

        &:nth-child(3) {
            background: linear-gradient(0deg, #FFC107, transparent);
        }

        h2 {
            margin-top: 0;
        }

        .content {
            height: 100%;
            background: rgba(96, 125, 139, 0.55);
            margin-left: -2rem;
            box-sizing: border-box;
            margin-right: -2rem;
            margin-bottom: 0;
            line-height: 1.5rem;
            border-top: 1px solid #ccc;
            transition: height 0.25s ease-in-out;
            box-sizing: border-box;
            overflow: hidden;

            &.collapsed {
                height: 0;
                overflow: hidden;
            }
        }

        p {
            color: #FAFAFA;
            font-size: 1.1rem;
            font-weight: 500;
        }

        .lead {
            .intro {
                background: #FAFAFA;
                padding: 0.5rem 1rem;
                color: #263238;
                font-weight: 300;
            }

            p {
                margin-left: 1rem;
            }

            ul {
                margin-right: 1rem;
            }
        }

        .cost {
            font-size: 1.5rem;
            padding-top: 0.5rem;
            text-align: right;
            margin-left: -2rem;
            padding-left: 2rem;
            box-sizing: border-box;
            margin-right: -2rem;
            padding-right: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            background: #FAFAFA;
            color: #000;
            padding-top: 1rem;
        }

        .image {
            height: 10rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right;
            margin-top: 0;
            margin-right: -2rem;
            box-shadow: inset 0 0 10em 1em #000;
            margin-left: -2rem;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;

            &.excel {
                background-image: url(/assets/images/spreadsheet.webp);
            }

            &.roadmap {
                background-image: url(/assets/images/roadmap.jpg);
            }

            &.pm {
                background-image: url(/assets/images/project-management.jpg);
            }

            &.pitch {
                background-image: url(/assets/images/pitch-deck.jpg);
            }
        }

        .multiple {}

        .summary {

            margin-top: 1rem;
            color: #ccc;
            text-align: center;
        }
    }
}

.contact {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;

    background: #FAFAFA;
    border-radius: 0.5rem;
    padding: 2rem;
    color: #444;

    p {
        &:nth-child(1) {
            margin-bottom: 1rem;
            font-size: 1rem;
        }

        &:nth-child(2) {
            margin: 0;
        }
    }
}



@media only screen and (max-width: 480px) {
    .hero-block {
        width: 100%;
    }

    .offerings {
        flex-direction: column;
        margin: 0 0.5rem;
    }

    .promo {
        margin: 5rem 1rem;
    }


    .contact {
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        p {
            &:nth-child(2) {
                font-size: 1.5rem;
            }
        }
    }
}