.logo {
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    padding: 7rem;

    &.idea-pros {
        background: url(/assets/images/idea-pros-logo-white.png) #6f53b1;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        border: 1px solid #eeeeee4d;

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            top: 0;
            height: 100%;
            background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(49, 36, 80, 0.6390931373) 26%, rgba(0, 104, 255, 0.4037990196) 50%, rgba(255, 255, 255, 0) 80%);
            left: 0;
            opacity: 0.5;
            border-radius: 0.25rem;
        }
    }
}

.wrapper {
    background: #523c85;

    >.inner {
        padding: 5em 5em 3em 5em;
        max-width: 100%;
        margin: 0 auto;

        h3,
        h1 {
            color: #fff;
            position: relative;
            margin: 0 0 1.3em 0;
            position: relative;
            padding-bottom: 0.35em;
            font-weight: bold;
            line-height: 1.5;
        }

        h1::after {
            background-image: -moz-linear-gradient(to right, #5e42a6, #b74e91);
            background-image: -webkit-linear-gradient(to right, #5e42a6, #b74e91);
            background-image: -ms-linear-gradient(to right, #5e42a6, #b74e91);
            background-image: linear-gradient(to right, #5e42a6, #b74e91);
            -moz-transition: max-width 0.2s ease;
            -webkit-transition: max-width 0.2s ease;
            -ms-transition: max-width 0.2s ease;
            transition: max-width 0.2s ease;
            border-radius: 0.2em;
            bottom: 0;
            content: '';
            height: 0.1em;
            position: absolute;
            right: 0;
            width: 100%;
        }

        ul.horizontal {
            list-style: disc;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            padding: 0;
            align-items: flex-start;
            justify-content: center;

            li {
                font-weight: 300;

                &:first-child {
                    list-style: none;
                }
            }
        }

        .image {
            border-radius: 0.25em;
            border: 0;
            display: inline-block;
            position: relative;

            &.fit {
                display: block;
                margin: 0 0 2em 0;
                width: 100%;

                img {
                    width: 30vw;
                    margin: auto;
                    border-radius: 0.25em;
                    display: block;
                }
            }
        }

        .promo {
            color: #d6c8f5;
            margin: 0 3em;
            text-align: center;
            font-weight: 300;
            font-size: 1.1rem;
        }
    }

    .offerings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0em 5em 3em 5em;
        gap: 5rem;


        .packages {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 20em 20em;
            gap: 1rem;

            .intro {
                font-size: 1rem;
                color: #c7b8eb;
            }

            .cost {
                background: linear-gradient(to bottom, #ffffff, 59%, #523c85);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                text-align: right;
                display: inline-block;
                margin-right: 0.2em;
            }

            section {
                background: #493382;
                border-radius: 0.25rem;
                padding: 1rem;
                border: 1px solid #69598f;
                display: grid;
                grid-template-rows: 0fr 1fr 0fr;

                &.active {
                    border: 1px solid #adade1;
                    background: #45458d;

                    .intro {
                        color: #fff;
                    }
                }
            }

            h3 {
                margin-top: 0;
                color: #fff;
            }
        }

        .expansion {
            .details {
                font-size: 1rem;
                transform: translateX(-3rem);
                opacity: 0;

                > p {
                    color: #fff;
                    font-size: 1.2rem;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }

        }
    }
}

ul {
    &.actions {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        justify-content: flex-end;
        cursor: default;
        list-style: none;
        margin-left: -1em;
        padding-left: 0;

        li {
            padding: 0 0 0 1em;
            vertical-align: middle;
        }
    }
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 1px !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    border-radius: 3em;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.6em;
    font-weight: bold;
    height: calc(3.15em + 2px);
    letter-spacing: 0.25em;
    line-height: 3.15em;
    outline: 0;
    padding: 0 1.75em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    &:after {
        -moz-transform: scale(0.25);
        -webkit-transform: scale(0.25);
        -ms-transform: scale(0.25);
        transform: scale(0.25);
        pointer-events: none;
        -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
        -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
        -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
        transition: opacity 0.2s ease, transform 0.2s ease;
        background: #ffffff;
        border-radius: 3em;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &:hover {
        border-color: rgba(255, 255, 255, 0.55) !important;

        &:after {
            opacity: 0.05;
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
}



@media only screen and (max-width: 480px) {
    .hero-block {
        width: 100%;
    }

    .offerings {
        flex-direction: column;
        margin: 0 0.5rem;
    }

    .promo {
        margin: 5rem 1rem;
    }


    .contact {
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        p {
            &:nth-child(2) {
                font-size: 1.5rem;
            }
        }
    }
}