<article class="scroller">
  <section #section1>
    <div class="main__container">
      <div class="banner">
        <div class="logo_banner-top" [routerLink]="['home']">
          <h1>BLACKWOOD</h1>
        </div>

        <div class="logo_banner-bottom">
          <h2>OPERATIONS</h2>
        </div>
      </div>
    </div>
    <div class="seg office_background">
      <div class="seg-content">
        <div class="main-nav">
          <a href="mailto:donna@blackwoodops.com?subject=Let's connect" class="nav-item">Contact Us</a>
          <div class="nav-item" [routerLink]="['expertise']">More about us</div>
          <div class="nav-item" [routerLink]="['certs']">Certifications</div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</article>
<footer>
</footer>