<article class="scroller">
  <section #section1>
    <div class="main__container">
      <div class="banner">

        <div class="logo_banner-top">
          <h1>BLACKWOOD</h1>
        </div>

        <div class="logo_banner-bottom">
          <h2>OPERATIONS</h2>
        </div>
      </div>
    </div>
    <div class="seg office_background">
      <div class="seg-content">
        <h1>Tackling operations and solving problems for your business</h1>
        <div class="bullet-points horizontal">
          <h2>Efficient</h2>
          <h2>Effective</h2>
          <h2>Delivered</h2>
        </div>
      </div>
      <div class="headshot donna">
        <div class="floating-pin">
          <div class="icon"></div>
          <div class="meta">
            <div class="line-1">Donna Nodson</div>
            <div class="line-2">Owner</div>
          </div>
          <div class="reveal">donna@blackwoodops.com</div>
        </div>
      </div>
    </div>
  </section>

  <section #section2>
    <div class="seg">Section 2</div>
  </section>
  <section #section3>
    <div class="seg">Section 3</div>
  </section>
  <section  #section4>     
    <div class="seg">Section 4</div>
  </section>
</article>

<div class="scroll-segments">
  <div #section1Indicator class="section active"></div>
  <div #section2Indicator class="section"></div>
  <div #section3Indicator class="section"></div>
  <div #section4Indicator class="section"></div>
</div>