:host {
    display: block;
    height: inherit;


    --clr-purple: rgb(63, 81, 181);
    --clr-purple-400: rgb(63, 81, 181, 0.6);

    --clr-blue: rgb(33 150 243);
    --clr-blue-400: rgb(33 150 243 / 60%);

    --clr-orange: rgb(255 152 0);
    --clr-orange-400: rgb(255 152 0 / 60%);

    --clr-green: rgb(76 175 80);
    --clr-green-400: rgb(76 175 80 / 60%);

    --clr-pink: rgb(233 30 99);
    --clr-pink-400: rgb(233 30 99 / 60%);
}

.logo_circle {
    background: url('/assets/images/logo_circle.png');
}

.main__container {

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
}

.banner {
    background: #000;
    padding-top: 2rem;

    >div {
        width: 30vw;
        margin-left: auto;
        margin-right: auto;
    }

    .logo_banner-top {

        background: var(--brand-light);
        border: 2px solid var(--brand-light);

        h1 {
            font-family: 'Chivo Mono', monospace;
            background: url('/assets/images/background_forrest.webp');
            background-attachment: fixed;
            background-size: cover;
            text-align: center;
            margin: 0;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-indent: 0.5rem;
            font-kerning: none;
            font-size: clamp(1rem, -0.875rem + 4.633vw, 7rem);
            letter-spacing: clamp(0rem, -1.2rem + 3.333vw, 1rem);
        }
    }
}

.logo_banner-bottom {
    border: 2px solid var(--brand-light);

    h2 {
        text-align: center;
        color: var(--brand-teal);
        font-size: 3rem;
        margin: 0;
        font-kerning: none;
        font-size: clamp(1rem, -0.875rem + 4.633vw, 3rem);
        letter-spacing: clamp(0rem, -1.1rem + 2.933vw, 3.8rem);
        text-indent: clamp(0rem, -1.1rem + 2.233vw, 2.4rem);
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.scroller {

    section {
        &:first-child {
            display: grid;
            grid-template-rows: 0fr 2fr;
            min-height: 100vh;
        }

        &:not(:first-child) {
            .seg {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5rem;
            }
        }
    }
}

.seg {
    height: 100%;
    position: relative;

    color: #fff;
}

.seg-main {
    color: #fff;

    margin: 5rem 20vw;
    font-size: 2rem;

    .highlight-text {
        color: var(--brand-orange);
        font-weight: 600;
    }

    ul {
        list-style: inside;
        padding: 0;
        margin-left: -2rem;
        margin-right: -2rem;

        li {
            background: #37474F;
            padding: 0.5rem 2rem;
            margin-bottom: 2px;
        }
    }
}

.office_background {
    background: radial-gradient(circle, rgba(0, 0, 0, 0) -60%, rgb(0, 0, 0) 70%), url(/assets/images/office_background.jpg) no-repeat center center fixed;
    position: relative;
    min-height: var(--original-viewport-height);
    background-size: contain;
    height: 100%;
    overflow: hidden;

    .seg-content {
        color: #F5F5F5;
        margin: auto 20vw;
        padding: 5rem 0;

        h1 {
            font-size: 3rem;
            font-weight: 800;
        }

        .bullet-points {
            display: flex;
            gap: 1rem;
            font-size: 1.5rem;
            color: var(--brand-teal);
            line-height: 0;

            >h2 {
                margin-top: 0;
            }

            &.horizontal {
                flex-direction: row;
            }
        }
    }
}



.memberships__container {
    margin-top: 5rem;

    .programs {
        margin-top: 2rem;
        gap: 2rem;
        display: grid;

        &.programs--adhoc {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        }

        &.programs--subscription {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    }

    .program {

        --_shadow: var(--shadow, pink);
        --_icon: var(--icon, red);

        background: #ccc;
        padding: 1rem;
        border-radius: 0.4rem;
        color: #000;
        box-shadow: 0 0 10px 2px #444, -0.6rem -0.6rem 0 0 var(--_shadow);
        flex: 1;
        flex-basis: 20%;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr 2fr auto;


        .heading {
            font-weight: 700;
            font-size: 1.65rem;
        }

        p {
            font-family: Roboto, sans-serif, system-ui;
            color: #263238;
        }

        .price {
            font-weight: 900;
            font-size: 1.7rem;
            text-align: right;

            span {
                color: #444;
            }
        }

        &--ff {
            --shadow: var(--clr-orange-400);
        }

        &--pdd {
            --shadow: var(--clr-green-400);
        }

        &--bpv {
            --shadow: var(--clr-blue-400);

        }

        &--sup {
            --shadow: var(--clr-pink-400);
            flex-basis: 45%;
        }


        &--q {
            --shadow: var(--clr-purple-400);
            flex-basis: 45%;
        }
    }
}

.sessions__container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);

    .session {
        background: #26404da8;
        border-radius: 0.25rem;
        color: #E0E0E0;
        font-size: 1.4rem;
        padding: 0.5rem;
        border: 1px solid #757575;

        .heading {
            font-size: 2rem;
            font-weight: 600;
            color: #9FA8DA;

            + p {
                font-family: Roboto, sans-serif, system-ui;
                font-size: 1rem;
            }
        } 

        &.session--guest-speaker {
            i {
                color: #FFC107;
                font-size: 1.4rem;
                margin-right: 0.25rem;
            }

            .speaker {
                > div {
                    text-transform: uppercase;
                    color: #FFC107;
                }
            }
        }
    }
}


.scroll-segments {
    position: fixed;
    right: 4rem;
    top: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 2rem;

    >.section {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 10rem;
        background: #9E9E9E;
        transition: all .25s;

        &.active {
            width: 2rem;
            height: 2rem;
            background: #3b1536;
        }
    }
}

section {
    &.alternate {
        background: #263238;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

footer {
    color: #9E9E9E;
    padding: 10rem 2rem;
    text-align: center;
    font-size: 2rem;
    background: #000000;
    font-weight: 900;
}

@media only screen and (max-width: 480px) {
    .banner {
        margin-top: 0;
        padding-top: 0;

        >div {
            width: 100%;
            box-sizing: border-box;
        }

        .logo_banner-top {

            background: var(--brand-light);
            border: 2px solid var(--brand-light);

            h1 {
                text-indent: 0;
                font-size: 4rem;
                letter-spacing: initial;
            }
        }
    }

    .logo_banner-bottom {
        h2 {
            font-size: 2.5rem;
            letter-spacing: 1.4rem;
            text-indent: 1.5rem;

        }
    }

    .headshot {
        width: auto;
        height: 20rem;

        &.donna {
            background: linear-gradient(to left, transparent 70%, black 100%), url(/assets/images/donna_transparent.png);
            background-position: bottom right;
            left: 0;
            right: 0;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .floating-pin {
            display: none;
        }
    }

    .office_background {
        width: 100%;
        background-size: cover;
        background-position: bottom right;

        .seg-content {
            margin: auto 0;
            padding: 2rem;
        }
    }

    .seg-main {
        color: #fff;

        margin: 2rem;
        font-size: 2rem;



        ul {
            list-style: none;
        }

    }

    .scroll-segments {
        right: 1rem;

        >.section {
            &.active {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

@media only screen and (max-width: 480px) and (min-width: 260px) {
    .banner {
        margin-top: 0;
        padding-top: 0;

        >div {
            width: 100%;
            box-sizing: border-box;
        }

        .logo_banner-top {

            background: var(--brand-light);
            border: 2px solid var(--brand-light);

            h1 {
                text-indent: 0;
                font-size: 4rem;
                letter-spacing: initial;
            }
        }

        .headshot {
            width: 15rem;
            height: 35rem;
        }
    }

    .logo_banner-bottom {
        h2 {
            font-size: 3rem;
            letter-spacing: 1rem;
            text-indent: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .sessions__container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
     }
  
    .session {
      grid-column: auto;
      grid-row: auto;
    }
  }