/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    margin: 0;
    background: #000;
}

body {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

html {
    width: 100%;
    overflow: hidden;
}

:root {
    --brand-purple: #3b1536;
    --brand-orange: #b87333;
    --brand-light: #fffcf2;
    --brand-dark: #282c28;
    --brand-teal: #5296a5;
}
