/* You can add global styles to this file, and also import other style files */

html,
body {
    font-family: Roboto, sans-serif, system-ui;
    font-weight: 300;
    margin: 0;
    background: #000;
    scroll-padding-top: 1rem;
    width: 100%;
}

body {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

html {
    width: 100%;
    overflow: hidden;
}

:root {
    --brand-purple: #3b1536;
    --brand-orange: #b87333;
    --brand-light: #fffcf2;
    --brand-dark: #282c28;
    --brand-teal: #5296a5;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-menu-item-text {
    img {
        height: 1.5rem;
        margin-right: 0.5rem;
        vertical-align: sub;
    }
}