.main-bkg { 
    background: #263238e6;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-top: 3rem;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .main-bkg {
        border-radius: 0;
    }
}