<section>
    <div class="content lead-content">
        <div class="inner hidden-lr">
            <h2>Security audits and assessments</h2>
            <p>Our cybersecurity expertise helps companies achieve HITRUST certification efficiently, overcoming
                longstanding challenges with project management and audit knowledge. We cater to diverse industries and
                company sizes, ensuring compliance with various security frameworks.
            </p>
        </div>
    </div>
</section>

<div class="banner">
    <img src="/assets/images/security-audit-landscape.jpg">
</div>

<section>
    <div class="content main-content">
        <div class="inner hidden-lr">
            <p>
                We have guided companies successfully through their first HITRUST audit, which they had been trying to
                navigate for several years. In less than six months, we used project management techniques and knowledge
                of audit requirements to successfully achieve HITRUST certification.

                <br><br>

                Our teams have experience with a range of security frameworks and can work with companies from startups
                to established organizations in industries with significant data privacy regulations, such as healthcare
                and finance.
            </p>
        </div>
    </div>
</section>