.foundation {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    text-align: center;
    margin-top: 3rem;
    gap: 1rem;
}

.pillar { 
    padding: 1rem;
    display: grid;
    grid-template-rows: 2rem 1fr 5rem;
    align-items: center;

    .heading {
        font-size: 1.5rem;
    }

    img {
        width: 100%;
        margin-top: 1rem;
    }
}

.wrapper {

    &.fullscreen {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        min-height: 100vh;
    }
}