<section id="intro" class="fullscreen wrapper style1">
    <div class="inner hidden">
        <h1>BLACKWOOD OPERATIONS</h1>

        <p>
            We deliver business operations for companies positioning for revenue growth.
            <br>
            Serving primarily SaaS and service-based organizations, we have also engaged with clients in industries such
            as
            <br>
            <b>retail</b>, <b>ecommerce</b>, and <b>manufacturing</b>.
        </p>
        <ul class="actions">
            <li>
                <a class="button" (click)="scrollToNextSection()">Learn More</a>
            </li>
        </ul>
    </div>

</section>

<section id="one" class="wrapper style2 spotlights">
    <section>
        <a class="image image1 hidden-fade"></a>
        <div class="content">
            <div class="inner hidden-lr">
                <h2>Process automation and optimization</h2>
                <p>A law firm drastically cut client intake time from days to minutes with automation, leading to record-breaking new client sign-ups. This example shows how businesses can efficiently achieve growth through process optimization and automation.</p>
                <ul class="actions">
                    <li>
                        <a [routerLink]="['/process-automation']" class="button">Learn More</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a class="image image2 hidden-fade"></a>
        <div class="content">
            <div class="inner hidden-lr">
                <h2>Security audits and assessments</h2>
                <p>Our cybersecurity expertise helps companies achieve HITRUST certification efficiently, overcoming longstanding challenges with project management and audit knowledge. We cater to diverse industries and company sizes, ensuring compliance with various security frameworks.</p>
                <ul class="actions">
                    <li>
                        <a [routerLink]="['/security-audits']" class="button">Learn More</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a class="image image3 hidden-fade"></a>
        <div class="content">
            <div class="inner hidden-lr">
                <h2>Project management</h2>
                <p>Blackwood Operations' skilled project managers simplify complex technology transitions, ensuring smooth vendor implementation through planning, transparency, and optimization. Their proven approach, exemplified by successful client transitions, ensures projects meet objectives and overcome challenges effectively.
                </p>
                <ul class="actions">
                    <li>
                        <a [routerLink]="['/project-management']" class="button">Learn More</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <a class="image image4 hidden-fade"></a>
        <div class="content">
            <div class="inner hidden-lr">
                <h2>Business operations coaching and consulting</h2>
                <p>Blackwood Operations' experienced consultants solve complex business problems for companies of all sizes, providing tailored solutions and proven results. Their diverse experience, from Ford's process improvements to HotDocs' cloud transformation, exemplifies their ability to drive successful outcomes.</p>
                <ul class="actions">
                    <li>
                        <a [routerLink]="['/business-operations']" class="button">Learn More</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
