<h1>Tackling operations and solving problems for your business</h1>
<div class="bullet-points horizontal">
  <h2>Efficient</h2>
  &bullet;
  <h2>Effective</h2>
  &bullet;
  <h2>Delivered</h2>
</div>

<div class="summary">
  <p>Blackwood Ops is a business operations consultancy with deep expertise and a proven track record of
    success.
    Leaning on a breadth of operational experience in a global environment with companies ranging from startups
    to Fortune 500.
  </p>
  <p>
    Clients sectors encompass <strong>service-based</strong>, <strong>SaaS</strong>,
    <strong>manufacturing</strong>, <strong>financial</strong>, and <strong>retail</strong> organizations.
  </p>
  <p>
    We are passionate about driving business forward through strategic enablement: <span
      class="highlight-text">evolving
      challenges to become opportunities.</span>
  </p>
</div>
<a href="home#memberships" class="cta">Explore what we have to offer and decide what package would uniquely suit
  your needs&nbsp;<i class="fa-solid fa-chevron-down"></i></a>

<div class="memberships__container" id="memberships">
  <h2>Focused programs&nbsp;<i class="fa-solid fa-arrow-turn-down"></i></h2>

  <div class="programs programs--adhoc">
    <div class="program program--ff">
      <div class="heading">Financial forecast</div>
      <p>
        Includes one financial forecast and 4 weekly group sessions.
      </p>
      <div class="actions">
        <a href="mailto:donna@blackwoodops.com?subject=I'm interested in attending Financial forecast sessions"
          class="talk">Let's talk</a>
        <div class="price"><span>$</span>&nbsp;700</div>
      </div>
    </div>

    <div class="program program--pdd">
      <div class="heading">Pitch deck development</div>
      <p>
        Includes one pitch-deck (PPT) and 4 weekly group sessions.
      </p>
      <div class="actions">
        <a href="mailto:donna@blackwoodops.com?subject=I'm interested in attending Pitch deck development sessions"
          class="talk">Let's talk</a>
        <div class="price"><span>$</span>&nbsp;850</div>
      </div>
    </div>

    <div class="program program--bpv">
      <div class="heading">Business plan development</div>
      <p>Includes one business plan and 4 weekly group sessions.</p>
      <div class="actions">
        <a href="mailto:donna@blackwoodops.com?subject=I'm interested in attending Business plan development sessions"
          class="talk">Let's talk</a>
        <div class="price"><span>$</span>&nbsp;1,750</div>
      </div>
    </div>
  </div>

  <h2>Specialized programs&nbsp;<i class="fa-solid fa-arrow-turn-down"></i></h2>

  <div class="programs programs--subscription">
    <div class="program program--q">
      <div class="heading">Quarterly</div>
      <p>Includes 24 weekly group sessions (can be engaged on a rolling basis - so 12 weeks from whenever they
        start).</p>
      <div class="actions">
        <a href="mailto:donna@blackwoodops.com?subject=I'm interested in attending quarterly specialized sessions"
          class="talk">Let's talk</a>
        <div class="price"><span>$</span>&nbsp;300</div>
      </div>
    </div>

    <div class="program program--sup">
      <div class="heading">Start-up package</div>
      <p>Includes business plan, financial forecast, pitch deck, 24 weekly group sessions, and 3 hours of
        personal coaching sessions.</p>
      <div class="actions">
        <a href="mailto:donna@blackwoodops.com?subject=I'm interested in attending a start-up package"
          class="talk">Let's talk</a>
        <div class="price"><span>$</span>&nbsp;3,450</div>
      </div>
    </div>
  </div>
</div>

<div class="sessions__container">
  <h2>Sessions, and what to expect&nbsp;<i class="fa-solid fa-arrow-turn-down"></i></h2>
  <div class="sessions">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let session of sessions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon *ngIf="session.guestSpeaker">account_circle</mat-icon>&nbsp;{{session.heading}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="background: #F5F5F5;
        padding: 1rem;
        margin-top: 0;
        border-radius: 0.25rem;">{{session.copy}}</p>
        <div *ngIf="session.guestSpeaker" class="guest-speaker">
          <div class="announce">Guest speaker</div>
          <div class="speaker_name">{{session.guestSpeaker.name}}</div>
          <div class="speaker_org">{{session.guestSpeaker.org}}</div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>