section {
    &.wrapper {
        position: relative;

        &.style2 {
            background-color: #5052b5;
        }
    }

    &.fullscreen {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        min-height: 100vh;
    }

    &#intro {
        background-attachment: fixed;
        background-image: url(/assets/images/office-background_1.jpg);
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position-x: -17px;
        position: relative;

        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(49, 36, 80, 0.639093137254902) 26%, rgba(0, 104, 255, 0.40379901960784315) 50%, rgba(255, 255, 255, 0) 80%);
            content: '';
        }
    }

    >.inner {
        padding: 0em 5em 3em 5em;
        max-width: 100%;
        width: 75em;
        box-sizing: border-box;
        z-index: 1000;


        h1 {
            font-size: 2.75em;
            color: #fff;
            margin-top: 0;

        }

        p {
            color: #fff;
        }
    }
}

.hidden {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.75s ease;
    will-change: transform, opacity;
}

.hidden-lr {
    opacity: 0;
    transform: translateX(-30px);
    transition: 0.75s ease;
    will-change: transform, opacity;
}

.hidden-fade {
    transition: all 0.75s ease;
    filter: brightness(0.25);
    will-change: transform, filter;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.show-lr {
    opacity: 1;
    transform: translateX(0);
}

.show-fade {
    filter: none;
}

section {
    ul {
        &.actions {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            cursor: default;
            list-style: none;
            margin-left: -1em;
            padding-left: 0;

            li {
                padding: 0 0 0 1em;
                vertical-align: middle;
            }
        }
    }

    .button {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: border-color 0.2s ease;
        -webkit-transition: border-color 0.2s ease;
        -ms-transition: border-color 0.2s ease;
        transition: border-color 0.2s ease;
        background-color: transparent;
        border: solid 1px !important;
        border-color: rgba(255, 255, 255, 0.15) !important;
        border-radius: 3em;
        color: #ffffff !important;
        cursor: pointer;
        display: inline-block;
        font-size: 0.6em;
        font-weight: bold;
        height: calc(4.75em + 2px);
        letter-spacing: 0.25em;
        line-height: 4.75em;
        outline: 0;
        padding: 0 3.75em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;

        &:after {
            -moz-transform: scale(0.25);
            -webkit-transform: scale(0.25);
            -ms-transform: scale(0.25);
            transform: scale(0.25);
            pointer-events: none;
            -moz-transition: opacity 0.2s ease, -moz-transform 0.2s ease;
            -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
            -ms-transition: opacity 0.2s ease, -ms-transform 0.2s ease;
            transition: opacity 0.2s ease, transform 0.2s ease;
            background: #ffffff;
            border-radius: 3em;
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &:hover {
            border-color: rgba(255, 255, 255, 0.55) !important;

            &:after {
                opacity: 0.05;
                -moz-transform: scale(1);
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }
        }
    }

}

.spotlights {
    >section {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: row;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        min-height: 22.5em;

        .image {
            background-position: center center;
            background-size: cover;
            border-radius: 0;
            display: block;
            position: relative;
            width: 25em;

            &.image1 {
                background-image: url(/assets/images/process-automation.jpg);
            }

            &.image2 {
                background-image: url(/assets/images/security-audit.jpg);
            }

            &.image3 {
                background-image: url(/assets/images/project-management.jpg);
            }

            &.image4 {
                background-image: url(/assets/images/business-coaching.jpg);
            }

        }

        .content {
            padding: 4em 5em 2em 5em;
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            width: 50em;
            -ms-flex: 1;

            .inner {
                h2 { 
                    color: #fff;
                }
            }

            
            p {
                margin: 0 0 2em 0;
            }
        }

        &.style2 {
            background-color: #5052b5;
        }

        &:nth-child(2) {
            background-color: rgba(0, 0, 0, 0.05);
        }

        &:nth-child(3) {
            background-color: rgba(0, 0, 0, 0.07);
        }

        &:nth-child(4) {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}



.bullet-points {
    display: flex;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: var(--brand-teal);
    justify-content: center;
    line-height: 0;
    font-family: 'Alumni Sans Pinstripe';
    margin-top: 1rem;

    >h2 {
        margin-top: 0;
    }

    &.horizontal {
        flex-direction: row;
    }
}

.summary {
    background: rgba(38, 50, 56, 0.7490196078);
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin-top: 1rem;
}

.cta {
    background: #5296a5;
    margin-top: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem;
    color: #212121;
    font-weight: 500;
    text-align: center;
    display: block;
    text-decoration: none;
}

.memberships__container {
    margin-top: 3rem;

    h2 {
        font-weight: 300;
        white-space: pre-line;
        font-size: 1.2rem;

        i {
            font-size: 1rem;
            color: #607D8B;
            font-variant: all-petite-caps;
        }
    }

    .programs {
        margin-top: 2rem;
        gap: 2rem;
        display: grid;

        &.programs--adhoc {
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

            +h2 {
                margin-top: 2rem;
            }
        }

        &.programs--subscription {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    }

    .program {

        --_shadow: var(--shadow, pink);
        --_icon: var(--icon, red);

        background: #ccc;
        padding: 1rem;
        border-radius: 0.4rem;
        color: #000;
        box-shadow: 0 0 10px 2px #444, -0.6rem -0.6rem 0 0 var(--_shadow);
        flex: 1;
        flex-basis: 20%;
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1fr 2fr auto;

        .heading {
            font-weight: 700;
            font-size: 1.65rem;
            font-family: 'Alumni Sans Pinstripe';
        }

        p {
            font-family: Roboto, sans-serif, system-ui;
            color: #263238;
            font-weight: 400;
        }

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .talk {
                color: #37474F;
                font-weight: 600;
                border: 1px solid #607D8B;
                padding: 0.3rem 1rem;
                border-radius: 0.2rem;
                background: #ECEFF1;
                font-family: Roboto;
                font-size: 1rem;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    background: #CFD8DC;
                }
            }
        }

        .price {
            font-weight: 900;
            font-size: 1.7rem;
            text-align: right;
            font-family: 'Alumni Sans Pinstripe';

            span {
                color: #444;
            }
        }

        &--ff {
            --shadow: var(--clr-orange-400);
        }

        &--pdd {
            --shadow: var(--clr-green-400);
        }

        &--bpv {
            --shadow: var(--clr-blue-400);

        }

        &--sup {
            --shadow: var(--clr-pink-400);
            flex-basis: 45%;
        }


        &--q {
            --shadow: var(--clr-purple-400);
            flex-basis: 45%;
        }
    }
}

.sessions__container {
    margin-top: 4rem;
    border-top: 1px solid #BDBDBD;

    h2 {
        font-weight: 300;
        white-space: pre-line;
        font-size: 1.2rem;

        i {
            font-size: 1rem;
            color: #607D8B;
            font-variant: all-petite-caps;
        }
    }

    .sessions {

        .points {

            .heading {
                font-size: 1rem;
                font-weight: 500;
            }

            .copy {
                border-left: 2px solid #E0E0E0;
                padding-left: 0.5rem;
                margin-left: 0.2rem;
                margin-bottom: 0.7rem;
                margin-top: 0.2rem;
                padding-top: 0.2rem;
                padding-bottom: 0.5rem;
            }
        }

        .guest-speaker {
            margin-top: 1rem;
            border-left: 3px solid #607D8B;

            .announce {
                color: #607D8B;
                font-size: 1rem;
                padding-left: 1rem;
            }

            .speaker_name {
                font-weight: 500;
                padding-left: 1rem;
                margin-top: 1rem;
            }

            .speaker_org {
                color: #757575;
                padding-left: 1rem;
            }
        }
    }

    .session {
        background: rgba(38, 64, 77, 0.6588235294);
        border-radius: 0.25rem;
        color: #E0E0E0;
        font-size: 1.5rem;
        padding: 0.5rem;
        border: 1px solid #757575;
        height: 1.8rem;
        max-height: 10rem;
        min-height: 1.8rem;
        overflow: hidden;

        transition: height 0.25s ease-out;

        &:hover {
            height: 100%;
        }

        .heading {
            font-size: 1.5rem;
            font-weight: 600;
            color: #BDBDBD;
            font-family: 'Alumni Sans Pinstripe';

            +p {
                font-family: Roboto, sans-serif, system-ui;
                font-size: 1rem;
                font-weight: 300;
            }
        }

        &.session--guest-speaker {
            i {
                color: #FFC107;
                font-size: 1.4rem;
                margin-right: 0.25rem;
            }

            .speaker {
                font-family: 'Alumni Sans Pinstripe';

                >div {
                    text-transform: uppercase;
                    color: #FFC107;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .office_background {
        .seg-content {
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;

            .main-nav {
                flex-direction: column;
                width: 100%;
            }
        }
    }

    .summary {
        margin: 1rem;

        +a {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .programs {
        margin: 2rem 1rem;
    }

    .sessions__container,
    .memberships__container {

        h2 {
            margin-left: 1rem;
        }

        .sessions {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            margin: 0 0.5rem;

            .gs-icon {
                display: inherit;
            }
        }
    }

    .session {
        grid-column: auto;
        grid-row: auto;
    }
}